@model FlightManager.Data.Models.ReservationConfirmViewModel

@{
    ViewData["Title"] = "Confirm";
}

<h1>Thank you @Model.Name for confirming your flight from @Model.DepartureCity to @Model.DestinationCity</h1>

