
@{ ViewData["Title"] = "FullPlaneView";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<h1>The plane has reached its business class  or full capacity.</h1>
<h3>Choose another flight or try a different class.</h3>
<a asp-action="Index">Go back</a>
