
@{ ViewData["Title"] = "CaanotDelete";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<h1>Cannot delete user</h1>
<h3>You cannot delete this administrator's account before you give a role as administrator to someone else.</h3>

<a asp-action="Index">Go back</a>
